@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  background-color: #172b4d29 !important;
  border-radius: 100px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track-piece {
  display: none;
}

/* Navbar Start Here */

.left_section {
  padding: 0 0 0 16px;
}

.main_btn {
  outline: 0;
  border: 0;
  margin: 0;
  background: none;
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 24px;
  font-size: 14px;
  padding: 6px 16px;
  background-color: #008847;
  height: 32px;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  opacity: 1;
  cursor: pointer;
}

.main_btn:hover,
.long_btn:hover,
.premium_btn:hover {
  background-color: #115735;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.material-symbols-outlined {
  font-size: 16px !important;
}

header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff; /* Ensure the background is set */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid;
  color: #dcdfe4;
}

.prof_img {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}

.img_btn {
  outline: 0;
  border: 0;
  margin: 0;
  background: none;
  padding: 0;
  cursor: pointer;
}

.img_container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 30px;
  height: 30px;
}

.img_span {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 12px;
}

.right_upper_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 0;
}

.btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.right_anchor {
  text-decoration: none;
}

.left_anchor {
  margin: 0 18px 0 6px;
}

.svg_container {
  margin-top: 4px;
}

/* Navbar Start End */

/* Body Start Here */

/* Hero Section Start */

.hero_section {
  max-width: 1128px;
  margin: auto;
}

.hero_heading_text {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
  color: #172b4d;
}

.hero_heading {
  padding-top: 48px;
}

.hero_span {
  color: #008847;
}

.cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 72px;
}

.upper_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_card {
  min-width: 360px;
}

.hero_card_wrapper {
  border: 1px solid;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  border-color: #dcdfe4;
  border-radius: 16px;

  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 24px;
}

.hero_card_wrapper:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-color: #008847;
  border-radius: 16px;
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero_card > a {
  text-decoration: none;
  color: #2971fe;
}

.hero_card_heading > h5 {
  margin: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 28px;
  color: #172b4d;
}

.card_text_container > h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
  color: #626f86;
}

.hero_card_heading {
  display: flex;
  gap: 12px;
  align-items: center;
}

.card_text_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.long_card {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 1128px;
  height: 180px;
}

.long_card_wrapper {
  border: 1px solid;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  gap: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: row;
  background-color: #ffffff;
  border-color: #dcdfe4;
  border-radius: 16px;
  align-items: flex-start;
}

.long_svg {
  width: 24px;
}

.long_left_img {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.long_right_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.long_right_upper {
  gap: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.long_upper_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 20px;
}

.long_upper_left .left {
  gap: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.long_right_section h5 {
  margin: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 28px;
  color: #172b4d;
}

.long_right_section h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
}

.right h6 {
  font-size: 12px;
}

.long_right_section p {
  margin: 0;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
}

.long_rating_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.long_left_rating,
.long_right_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.long_upper_left .right,
.feature_rating .left {
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 8px;
}

.btn_span {
  padding-bottom: 1px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.long_btn {
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 32px;
  font-size: 16px;
  padding: 8px 20px;
  background-color: #008847;
  height: 40px;
  color: #ffffff;
  font-weight: 600;
  line-height: 24px;
  text-transform: none;
  opacity: 1;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.long_brand_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 500px;
}

.long_brand_bg {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    transparent 20%,
    transparent 80%,
    #ffffff 100%
  );
}

.long_brand_img_wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: hidden;
  -webkit-box-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-100%);
  }
}

.long_brand_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.long_right_lower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.hero_footer {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero_footer h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
}

.hero_footer p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #172b4d;
}

.hero_footer_btn_span {
  font-size: 24px !important;
}

/* Hero Section End */

/* Feature Section Start Here */

.feature_section {
  margin-top: 72px;
  min-height: 472px;

  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  display: block;
  background-color: #fcf7de;
}

.feature_container {
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.feature_wrapper {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.feature_left {
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  padding: 0px;
  width: 624px;
}

.feature_left h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.feature_left p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;

  width: 100%;
  margin-top: 24px;
  text-align: left;
}

.feature_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 24px;
  gap: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature_rating .left h6 {
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
}

.feature_left .text {
  margin-top: 40px;
}

.feature_left h6 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 20px;
  color: #172b4d;
  color: #101214;
}

.feature_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 16px;
  gap: 12px;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.trpt_btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 32px;
  font-size: 16px;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid;
  height: 40px;
  color: #008847;
  font-weight: 600;
  line-height: 0;
  text-transform: none;
  border-color: #008847;
  opacity: 1;
}

.trpt_btn:hover {
  background-color: #00884714;
  border-color: #115735;
  color: #115735 !important;
}

/* Feature Section End Here */

/* Testimonial Section Start Here */

.testimonial_section {
  margin-top: 80px;
  width: 100%;
}

.test_heading {
  max-width: 1128px;

  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.test_heading h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
  color: #172b4d;
}

.test_lower_container {
  max-width: 1128px;

  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.test_lower_container .test_img {
  display: block;
  margin-left: -48px;
}

.test_card_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test_card_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  box-sizing: border-box;
  margin: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 24px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.test_card {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 264px;
  height: 344px;
  border: 1px solid;
  border-color: #dcdfe4;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.test_card p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
}

.test_card .profile {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test_card .profile_text {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.profile_text p {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #172b4d;
}

.profile_text div {
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 16px;
  color: #172b4d;
  text-align: left;
  color: #626f86;
}

/* Testimonial Section End Here */

/* Premium Section Start Here */

.premium_section {
  height: 480px;
  padding: 0px;

  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 72px;
  background-color: #e9f2ff;
}

.premium_container {
  width: 1128px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 104px;
  margin-top: 0px;

  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.premium_left {
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;

  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.premium_right {
  display: block;

  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.premium_heading {
  width: inherit;

  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.premium_heading h3,
.premium_left h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
}

.premium_text {
  width: 100%;
}

.premium_text p {
  display: block;
  text-align: left;

  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  color: #172b4d;
}

.premium_btn_container {
  display: block;
  margin-top: 32px;
}

.premium_btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.75;
  text-transform: uppercase;
  color: #1976d2;
  min-width: 64px;
  padding: 8px 11px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  border-radius: 32px;
  font-size: 16px;
  padding: 8px 20px;
  background-color: #008847;
  height: 40px;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  text-transform: none;
  opacity: 1;
}

.premium_btn .material-symbols-outlined {
  font-size: 25px !important;
}
/* Premium Section End Here */

/* Flow Section Start Here */

.flow_section {
  max-width: 1128px;

  margin-right: auto;
  margin-left: auto;

  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
}

.flow_container {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-bottom: 72px;
  margin-top: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  gap: 80px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flow_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;

  max-width: 455px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.flow_left h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: left;
}

.flow_left p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
  text-align: left;
}

/* Flow Section End Here */

/* Writer Img Section Start Here  */

.writer_img_section {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 80px;
}

.writer_img_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.writer_img_container h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
}

.lower_img_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.img_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

/* Writer Img Section End Here  */

/* Writer Card Section Start Here */
.writer_card_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}

.writer_card_container {
  width: 1128px;
  height: 420px;

  border: 1px solid;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 16px 20px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-color: #008847;
  border-radius: 32px;
}

.writer_card_container h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
  color: #172b4d;
}

.writer_card_text_wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  row-gap: 16px;
  gap: 40px;
}

.writer_card_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  width: 204px;
}

.writer_card_text span {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  font-family: "Open Sans", sans-serif;
  color: #172b4d;
  text-align: center;
  color: #008847;
}

.writer_card_text p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  width: 108px;
  text-align: center;
  color: #2c3e5d;
}

.writer_card_btn {
  margin-top: 40px;
}

/* Writer Card Section End Here */

/* Writer Lower Section Start Here */

.writer_lower_section {
  max-width: 1128px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

.writer_lower_container {
  padding-top: 80px;
  padding-bottom: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  width: 100%;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 24px;
}

.writer_lower_wrapper {
  max-width: 330px;
  gap: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.writer_lower_svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  font-size: 24px;
  color: inherit;
}

.writer_lower_wrapper h6 {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 24px;
  color: #172b4d;
}

.writer_lower_wrapper p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-top: 4px;
  color: #172b4d;
}

/* Writer Lower Section End Here */

/* Footer Section Start Here */

.footer_btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  color: #1976d2;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Open Sans", sans-serif;
  box-shadow: none !important;
  text-transform: none;
  position: fixed;
  bottom: 15px;
  right: 20px;
  -webkit-text-decoration: none;
  text-decoration: none;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 37px;
  min-width: auto;
  height: 37px;
  border-radius: 100px;
  padding: 0px;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.footer_btn.show {
  display: flex; /* Show the button when 'show' class is added */
}

#backToTopBtn {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: fixed; /* Ensure the button stays in place */
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  /* Add other styling as needed */
}

#backToTopBtn.show {
  opacity: 1;
}

.footer_upper {
  background-color: #f7f8f9;
  padding-bottom: 52px;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
  padding-right: 68px;
  padding-left: 68px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.footer_space {
  padding-top: 52px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.footer_upper_left {
  width: calc(100% + 36px);
  margin-left: -36px;
  margin-top: -52px;

  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  /* max-width: 25%; */

  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer_link_container {
  padding-left: 36px;
  padding-top: 52px;
  box-sizing: border-box;
  margin: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer_link_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 313px;
  height: 280px;
}

.footer_link_wrapper p,
.social_container p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #172b4d;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.footer_link_wrapper div {
  padding-top: 4px;
}

.footer_link_wrapper a {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  line-height: 36px;
  font-family: "Open Sans", sans-serif;
}

.footer_link_wrapper a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.footer_upper_right {
  box-sizing: border-box;
  margin: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: -36px;

  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 25%;
}

.social_container {
  padding-top: 0px;
}

.social_space {
  padding-top: 8px;
}

.social_link_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social_link_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -8px;
}

.social_link {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.footer_lower {
  padding-left: 68px;
  padding-right: 68px;

  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f8f9;
}

.footer_lower_container {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.footer_lower_left {
  -webkit-flex-basis: 66.666667%;
  -ms-flex-preferred-size: 66.666667%;
  flex-basis: 66.666667%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 66.666667%;

  box-sizing: border-box;
  margin: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer_lower_left_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer_lower_left_head p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #172b4d;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}

.footer_lower_left_head_space {
  padding-right: 80px;
}

.footer_lower_left_head_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 8px;
}

.footer_lower_left_head_link a {
  font-family: "Open Sans", sans-serif;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}

.footer_lower_left_head_link span {
  width: 4px;
  height: 4px;
  margin-right: 8px;
  margin-left: 8px;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 50%;
}

.footer_lower_left_foot {
  padding-top: 12px;
}

.footer_lower_left_foot p,
.my_info p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}

.footer_lower_right {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 25%;

  box-sizing: border-box;
  margin: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: right;
  padding-top: 8px;
}

.upper_p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #172b4d;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 50px;
  font-size: 14px;
  /* line-height: 22px; */
  text-align: right;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.upper_p a {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.87);
}

.lower_p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #172b4d;
  display: block;
  margin: 10px 5px 0px 0px;
}

.footer_lower_space {
  padding-top: 8px;
}

.my_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.my_info a {
  color: #008847;
}

/* Footer Section End Here */

/* Body Start End */
